<div style="padding: 20px;">

	<md-spinner class="loading" *ngIf="loading" style="margin: 0 auto;
    position: relative;"></md-spinner>
	<md-card class="card" *ngFor="let date of dates">
		<div class="profile-picture">
			<img [src]="getAvatar(date)" alt="" width="160" height="160">
		</div>
		<md-card-content>
		    <h2>{{ date?.nickname }}</h2>
			<app-star-rating [stars]="round(date?.user_info?.rating?.stars)"></app-star-rating>
		    <md-list>
				<md-list-item>
					<md-icon md-list-icon color="primary">date_range</md-icon>
    				<h4 md-line color="primary">{{ date.date | amParse:'YYYY/MM/DD' | amDateFormat:'DD/MM/YYYY' }}</h4>
				</md-list-item>
				<md-list-item>
					<md-icon md-list-icon color="primary">access_time</md-icon>
    				<h4 md-line color="primary">{{ date.time | amParse:'HH:mm' | amDateFormat:'hh:mm a' }}</h4>
				</md-list-item>
				<md-list-item>
					<md-icon md-list-icon color="primary">library_books</md-icon>
    				<h4 md-line color="primary">{{ date.type }}</h4>
				</md-list-item>
				<md-list-item>
					<md-icon md-list-icon color="primary">timer</md-icon>
    				<h4 md-line color="primary">{{ date.duration }} Hora(s)</h4>
				</md-list-item>

		    </md-list>
	  	</md-card-content>
		<md-card-actions>
			<button md-button>
				<md-icon mdPrefix color="primary">monetization_on</md-icon>
				{{ date.price | currency:undefined:true:'1.0-2' }}
			</button>
			<button md-button class="favorite" (click)="setfavorite(date)" [promiseBtn]="promiseLoading">
				<md-icon mdPrefix color="primary" >
					{{ +date.favorite? 'favorite': 'favorite_border'}}
				</md-icon>
			</button>
		</md-card-actions>
	</md-card>
	<div *ngIf="dates?.length == 0">
		<h2>No hay citas disponibles</h2>
	</div>
</div>