<div class="dialog">
	
	<md-list>
		<md-list-item *ngFor="let user of users">
			<div md-list-avatar class="profile-picture">
				<img [src]="getAvatar(user)" alt="" width="60" height="60">
			</div>
			<div md-line class="name">
				<h4  color="primary">
					{{user?.nickname}}
					<a (click)="accept(user)" >
						<md-icon mdPrefix color="primary" >
							{{date.with_user == user.id? 'favorite': 'favorite_outline'}}
						</md-icon>
					</a>
					<a routerLink="/chat/{{date.id}}/{{user.id}}">
						<md-icon mdPrefix color="primary" >
							chat_bubble_outline
						</md-icon>
					</a>
				</h4>
			</div>
		</md-list-item>
	</md-list>
</div>