.dialog{
	padding: 20px 10px;
}

$size: 50px;
.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
	img{
		max-width: 100%;
	}
    .mat-spinner{
        margin: 0 auto;
    }
}

.name{
	min-width: 130px;
	a{
		float: right;
		margin-top: -5px;
	}
}