<div class="content">
	<div class="image">
		<img src="./assets/logo.png" alt="">
	</div>
	<h2>Gestionará tu cita</h2>
	<button md-dialog-close="close"  md-raised-button color="primary" ><md-spinner class="loading"></md-spinner>OK</button>
</div>
