<md-select placeholder="Intereses" [(ngModel)]="selectInterests" (change)="change()" multiple="true">
	<md-input-container >
		<md-icon mdSuffix color="primary">search</md-icon>
		<input type="text" mdInput placeholder="Buscar.." [(ngModel)]="_search">
	</md-input-container>
   <md-option *ngFor="let i of interests | myfilter : _search" [value]="i.id" > 
   		{{ i.name }} 
   	</md-option>
</md-select>
<md-grid-list cols="3" rowHeight="2:1">
	<md-grid-tile *ngFor="let i of displayInterests">
		<button md-button  type="button" class="btn-custom">{{i.name}}</button>
	</md-grid-tile>
</md-grid-list>
