$size: 90px;
.content{
    padding-top: 0;
    text-align: center;
    float: left;
    overflow: scroll;
    height: 100vh;
}
.profiles{
    background: url("../../../assets/icons_48x/heat_full.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
    width: 100%;
    background-size: 30px;
    margin-top: 30px;
    div.profile-item{
        width: 50%;
        float: left;
        text-align: center;
        max-width: 200px;
    }
}

.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px; 
	img{
		max-width: 100%;
	}
}
.chat-box{
    /* max-height: 80vh; */
    float: left;
    // overflow: scroll;
    margin-bottom: 130px;
    p{
        margin: 4px;
    }
    .time {
        width: 100%;
        float: left;
        text-align: right;
        color: #949494;
        font-size: 11px;
        padding-top: 5px;
    }
}
.resp{
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    z-index: 9999;
    /* padding: 10px 20px; */
    border-top: 1px solid #ddd;
    .full-width{
        width: calc(100% - 50px);
        display: block;
        text-align: left;
        padding: 0 20px;
    }
    .divisor{
        width: 100%;
        float: left;
        border-top: 2px solid #9c27b0;
        background: #fef5fa;
    }
    .divisor>div {
        width: calc( 50% - 1px );
        float: left;
        color: #9c27b0;
        padding: 15px 0;
        img{
            width: 25px;
            vertical-align: text-bottom;
        }
        .mat-icon{
            vertical-align: text-bottom;
        }
    }
}
.barra-chat {
    position: fixed;
    background: #990099;
    border-top: 1px solid #ddd;
    left: 0;
    color: #fff;
    padding: 15px;
    z-index: 999;
    a{
        position: absolute;
        left: 15px;
        color: #fff;
        margin-top: -5px;
    }
}
.chat{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    .profile-picture{
        float: left;
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .message{
        float: left;
        max-width: calc(100% - 80px);
        text-align: left;
        padding: 14px;
        border-radius: 10px;
    }
}
.chat.received{
    
    .message{
        background: #fff;
    }
}
.chat.send{
    float: right;
    .profile-picture{
        float: right;
    }
    .message{
        float: right;
        background: #eee;
    }
}

.content>div{
    width: 100%;
    float: left;
}

h4{
    font-weight: 100;
    color: #9c27b0;
    line-height: 1.5;
    .mat-icon{
        vertical-align: text-bottom;
    }
}
.separation {
  position: relative;
  text-align: center;
}

.separation span {
  background: #fef5fa;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.separation:before {
  background: #9c27b0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

.separation:before {
  left: 0;
}