<div class="content" #container *ngIf="chats">
	<div class="barra-chat">
		<a routerLink="/">
			<md-icon>keyboard_arrow_left</md-icon>
		</a>
		{{ user?.nickname }}
	</div>
	<div class="resp">
		<form [formGroup]="form" (ngSubmit)="sent(form.value)">
			<md-input-container class="full-width chat" floatPlaceholder="never">


				<input type="text" mdInput placeholder="Escribe un mensaje" [formControl]="text"/>
				
				<button
					mdSuffix
					type="submit"
					md-raised-button
					[disabled]="!form.valid"
					[promiseBtn]="promiseLoading">
						<md-icon  color="primary">send</md-icon>
				</button>
			</md-input-container>
		</form>
		<div class="divisor">
			<div style="border-right: 2px solid #909;">
				<img src="./assets/icons_48x/type.png">
				{{date?.type?.type}}
			</div>
			<div>
				<a [routerLink]="['/price/'+id_date]">
					<md-icon mdPrefix color="primary">monetization_on</md-icon>
					{{date?.price | currency:undefined:true:'1.0-2'}}
				</a>
			</div>
		</div>
	</div>
	<div class="profiles">
		<div class="profile-item">
			<div class="profile-picture">
				<img [src]="getAvatar(user)" alt="" *ngIf="!loading" width="90" height="90">
			</div>
		</div>
		<div class="profile-item">
			<div class="profile-picture">
				<img [src]="getAvatar(profile)" alt="" *ngIf="!loading" width="90" height="90">
			</div>
		</div>
	</div>
	<div>
		<h4>
			Ahora puedes pautar tu cita con <br>
			<b> {{ user?.nickname }} </b>
		</h4>
		<h4 class="separation">
			<span>
				<md-icon color="primary">date_range</md-icon>
				{{ date?.date | amDateFormat:'DD/MM/YYYY' }}
				<md-icon color="primary">access_time</md-icon>
				{{ date?.time  | amParse:'HH:mm' | amDateFormat:'hh:mm a' }}
			</span>
		</h4>
	</div>
	<div #chatBox class="chat-box">
		<div class="chat" *ngFor="let chat of chats" [ngClass]="{'send': chat.user_send === profile.id, 'received': chat.user_send !== profile.id}">
			<div class="profile-picture">
				<img [src]="getAvatar(chat.user_send === profile.id? profile: user)" alt="" *ngIf="!loading" width="50" height="50">
			</div>
			<div class="message">
				<p> {{ chat.text }} </p>
				<span class="time">{{ chat?.created_at  | amParse:'YYYY-MM-DD HH:mm' | amDateFormat:'DD/MM/YYYY hh:mm a' }}</span>
			</div>
		</div>
	</div>
</div>
