.mat-input-container{
    margin: 0 auto;
    width: 240px;
    display: block;
}
.mat-button.btn-custom {
    width: 95%;
}
button[type="submit"]{
	margin: 0 auto;
}
.mat-chip-list-wrapper{
    color: #000;
    margin-top: 10px;
}

.mat-chip .mat-icon{
    width: 12px;
    height: 12px;
    font-size: 13px;
}

@media screen and (max-width: 700px) {
	button[type="submit"]{
		width: 100%;
	}
}

.textarea span{
    font-size: 10px;
}

.subtitle{
    margin: 0;
    font-size: 12px;
    color: #9c27b0;
}