<div class="content" style="text-align: center;">
	<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
		<h2 class="title" style="margin: 0">Mis Intereses</h2>
		<!-- <md-input-container>
			<md-icon mdPrefix color="primary">search</md-icon>
			<input type="text" mdInput placeholder="Buscar Interes" (keyup)="filterInterest($event.target.value)">
		</md-input-container>
		<md-grid-list cols="3" rowHeight="2:1">
			<md-grid-tile *ngFor="let i of displayInterests">
				<button md-button  type="button" class="btn-custom" (click)="addInterest(i)">{{i.name}}</button>
			</md-grid-tile>
		</md-grid-list>
		<div style="margin-top: 10px;"> 
			<md-chip-list >
			  	<md-chip *ngFor="let i of selectInterests" color="primary" selected="true">
			  		{{ i.name }}  
					<md-icon color="white" (click)="deleteInterest(i)">close</md-icon>
			 	</md-chip>
			</md-chip-list>
		</div> -->
		<app-interest-select (interest)="changeInterest($event)" [oldInterests]="selectInterests"></app-interest-select>
		<h2 class="title" style="margin: 0">Medio de pago</h2>
		<md-grid-list cols="2" rowHeight="2:1">
			<md-grid-tile>
				<md-checkbox [formControl]="tdc">
					<img src="./assets/icons_48x/tdc.png" alt="">
					<span class="check-span"> TDC </span>
				</md-checkbox>
			</md-grid-tile>
			<md-grid-tile>
				<md-checkbox [formControl]="paypal">
					<img src="./assets/icons_48x/paypal.png" alt="">
					<span class="check-span"> Paypal </span>
				</md-checkbox>
			</md-grid-tile>
		</md-grid-list>
		<h2 class="title" style="margin: 0">Acerca de mi</h2>
		<h4 class="subtitle">Agrega un mensaje personal para tus citas</h4>
		<md-input-container class="full-width textarea">
			<md-icon mdPrefix color="primary">edit</md-icon>
	      	<textarea  [formControl]="bio" mdInput ></textarea>
	    </md-input-container>
	    <button type="submit" md-raised-button color="primary"  [promiseBtn]="promiseLoading"><md-spinner class="loading"></md-spinner>Guardar</button>
	</form>
</div>
