.container-stars{
	width: 100%;
    text-align: center;
}

.star{
	background: url('../../../assets/icons_48x/star.png');
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.star.full{
	background: url('../../../assets/icons_48x/star-full.png');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.star.hover{
	cursor: pointer;
}

