$size: 160px;
.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px; 
	img{
		max-width: 100%;
	}
}
h2{
    color: #9c27b0;
}
.location{
    /* position: absolute;
    width: calc( 100% - 40px );
    bottom: 10px;
    left: 20px; */
    margin-top: 10px;
}