<div class="content" style="text-align: center;">
	<h2 class="title" style="margin: 0">¡Estamos listos!</h2>
	<h2>{{name}}</h2>
	<div class="profile-picture">
		<img [src]="avatar" alt="" width="160" height="160">
	</div>

	<a md-button routerLink="/new_date" type="button" class="btn-custom full-width" style="margin-bottom: 10px;">
		<img mdSuffix src="./assets/icons_48x/heat_plus.png">
		Crear Cita
	</a>

	<a md-button routerLink="/date" type="button" class="btn-custom full-width" style="margin-bottom: 10px;">
		<img mdSuffix src="./assets/icons_48x/heat_list.png">
		Aceptar cita
	</a>

	<a md-button routerLink="/my_date" type="button" class="btn-custom full-width" style="margin-bottom: 10px;">
		<img mdSuffix src="./assets/icons_48x/heat.png">
		Mis citas
	</a>
	<div [hidden]="!changeLocation" style="margin-bottom: 100px;">
		<md-input-container class="full-width">
			<input mdInput placeholder="su ubicación" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  #search [formControl]="searchControl" >
		</md-input-container>
		<!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
			<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	    </agm-map> -->
	</div>
	<div [hidden]="changeLocation" style="margin-bottom: 20px;">
		<a md-button type="button" class="btn-custom full-width location" (click)="changeLocation = true">
			<md-icon mdPrefix color="primary">place</md-icon>
			{{ city }}
		</a>
	</div>

</div>