.content{
    padding: 15px 40px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
.content button[type="submit"]{
	margin-top: 12px;
	width: 100%;
}

.mat-select {
    width: 100%;
    text-align: left;
}