<div>
	<h2 class="title">Perfil</h2>
	<div class="content">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

			<md-input-container class="full-width">
				
				<input type="text" mdInput placeholder="Nombre y apellido" [formControl]="name">
			    <md-error *ngIf="name.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>

			<md-input-container class="full-width">
				<md-icon mdPrefix color="primary">mail_outline</md-icon>
				<input type="email" mdInput placeholder="Correo" [formControl]="email">
			</md-input-container>

			<md-input-container class="full-width">
				<md-icon mdPrefix color="primary">phone_iphone</md-icon>
				<input type="tel" mdInput placeholder="Número de Teléfono" [formControl]="phone">
				<md-error *ngIf="phone.hasError('pattern')">
				    Inserte un número valido
			    </md-error>
			</md-input-container>

			<md-input-container class="full-width">
				<md-icon mdPrefix color="primary">person_outline</md-icon>
				<input type="text" mdInput placeholder="Nombre de usuario" [formControl]="nickname">
				<md-error *ngIf="nickname.hasError('pattern')">
				    Inserte una dirección valida
			    </md-error>
			    <md-error *ngIf="nickname.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>

			<!-- <md-input-container class="full-width"> -->
				<!-- <md-icon mdPrefix color="primary">wc</md-icon> -->
				<md-select placeholder="Género" [formControl]="gender">
					<md-option value="m">
						Masculino
					</md-option>
					<md-option value="f">
						Femenino
					</md-option>
				</md-select>
			<!-- </md-input-container> -->

			<md-input-container class="full-width">
			  	<input mdInput [mdDatepicker]="picker" placeholder="Fecha de nacimiento" [formControl]="birthdate" (focus)="picker.open()">
			  	<md-icon mdPrefix color="primary" (click)="picker.open()">date_range</md-icon>
			</md-input-container>
			<md-datepicker #picker startView="year"></md-datepicker>

			<!-- <md-input-container class="full-width">
				<input type="text" mdInput placeholder="Nivel de educación" [formControl]="level_education">
			</md-input-container> -->
			
			<md-select placeholder="Nivel de educación" [formControl]="level_education">
				<md-option value="Bachiller">
					Bachiller
				</md-option>
				<md-option value="Técnico">
					Técnico
				</md-option>
				<md-option value="Universidad">
					Universidad
				</md-option>
				<md-option value="Post Grado">
					Post Grado
				</md-option>
				
			</md-select>
			
			<button type="button" md-raised-button (click)="showPass=!showPass">Cambiar clave</button>

			<md-input-container class="full-width" *ngIf="showPass">
				<md-icon mdPrefix color="primary">lock_outline</md-icon>
				<input type="password" mdInput placeholder="Contraseña" [formControl]="password">
				<md-error *ngIf="password.hasError('pattern')">
				    Inserte una clave valida
			    </md-error>
			    <md-error *ngIf="password.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>

			<md-input-container class="full-width" *ngIf="showPass">
				<md-icon mdPrefix color="primary">lock_outline</md-icon>
				<input type="password" mdInput placeholder="Confirma la contraseña" [formControl]="repeatPassword">
				<md-error *ngIf="repeatPassword.value !== password.value && repeatPassword.touched">
				    No coincide
			    </md-error>
			    <md-error *ngIf="repeatPassword.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>

			<button type="submit" md-raised-button color="primary" [promiseBtn]="promiseLoading"><md-spinner class="loading"></md-spinner>Guardar</button>

		</form>
	</div>
</div>
