<div class="content" style="text-align: center;">
	<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
		<h2 class="title" style="margin: 0">Crear Cita</h2>


		<md-input-container>
		  	<input mdInput [min]="minDate" [mdDatepicker]="picker" placeholder="Cuando" [formControl]="date" (focus)="picker.open()">
		  	<md-icon mdPrefix color="primary" (click)="picker.open()">date_range</md-icon>
		</md-input-container>

		<md-datepicker #picker></md-datepicker>
		<div class="md2-panel">
			<md-icon mdPrefix color="primary">access_time</md-icon>
			<md2-datepicker placeholder="Hora" type="time" [formControl]="time" openOnFocus="true" format="H:mm a"></md2-datepicker>
		</div>

		<md-input-container>
			<md-icon mdPrefix color="primary">place</md-icon>
			<input autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search mdInput placeholder="Lugar" [formControl]="location">
			 <md-error *ngIf="price.hasError('required')">
		      	Campo <strong>requerido</strong>
		    </md-error>
		</md-input-container>

		<div class="md2-panel" style="padding-bottom: 7px;">
			<md-icon mdPrefix color="primary">timer</md-icon>
			<label for="" style="color: #9c27b0;">Tiempo</label>
			<md-slider max="4" step="0.5" [formControl]="duration"></md-slider>
			<h5>
				{{durationValue()}}
			</h5>
		</div>

		<md-select placeholder="Tipo" [formControl]="type">
		   <md-option *ngFor="let t of types" [value]="t.id" > {{ t.type }} </md-option>
		</md-select>
	
		<md-input-container>
			<md-icon mdPrefix color="primary">monetization_on</md-icon>
			<input type="text" currencyMask mdInput placeholder="Precio" [formControl]="price">
			<md-error *ngIf="price.hasError('pattern')">
			    Inserte un monto valido (ej: 888.88)
		    </md-error>
		    <md-error *ngIf="price.hasError('required')">
		      	Campo <strong>requerido</strong>
		    </md-error>
		</md-input-container>

		<app-interest-select (interest)="changeInterest($event)"></app-interest-select>

		<button style="margin-top:40px;" type="submit" md-raised-button color="primary"  [promiseBtn]="promiseLoading"><md-spinner class="loading"></md-spinner>Crear cita</button>








	</form>
</div>