h5{
	color: #9c27b0;
    margin: 0;
    text-align: right;
    padding-right: 40px;
}



.mat-chip-list-wrapper{
    color: #000;
    margin-top: 10px;
}

.mat-chip .mat-icon{
    width: 12px;
    height: 12px;
    font-size: 13px;
}