<div class="chats">
	<md-list>
		<md-list-item *ngFor="let chat of chats" routerLink="/chat/{{chat.date}}/{{chat.info.user.id}}">

			<div md-list-avatar class="profile-picture">
				<img [src]="getAvatar(chat.info?.user)" alt="" width="50" height="50">
			</div>
			<div md-line class="name">
				<h4  color="primary">
					{{chat.info?.user?.nickname}}
				</h4>
				<p>
					{{chat.info?.text}}
				</p>
			</div>
		</md-list-item>
	</md-list>
	<div *ngIf="chats?.length == 0">
		<h2>No hay chats activos</h2>
	</div>
</div>