$size: 50px;

.chats{
	padding: 10px;
}

md-list-item{
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 5px #888888;
}


.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
	img{
		max-width: 100%;
	}
    .mat-spinner{
        margin: 0 auto;
    }
}

.name{
	min-width: 130px;
	a{
		float: right;
		margin-top: -5px;
	}
}