<div class="content" #container style="text-align: center;">
	<h2 class="title">Precio de cita</h2>
	<form [formGroup]="form" (ngSubmit)="save(form.value)">
		
		<md-input-container>
			<md-icon mdPrefix color="primary">monetization_on</md-icon>
			<input type="text" currencyMask mdInput placeholder="Nuevo precio" [formControl]="price">
			<md-error *ngIf="price.hasError('pattern')">
			    Inserte un monto valido (ej: 888.88)
		    </md-error>
		    <md-error *ngIf="price.hasError('required')">
		      	Campo <strong>requerido</strong>
		    </md-error>
		</md-input-container>
	    <button
	    	color="primary"
			type="submit"
			md-raised-button
			[disabled]="!form.valid"
			[promiseBtn]="promiseLoading">
				Guardar
				</button>
				<br>
		<button 
			style="width: 100%;margin-top: 10px;" 
			onclick="window.history.back()"
			type="button"
			md-raised-button>
				Atrás
				</button>
	</form>
</div>