.image>img{
	width: 80%;
	max-width: 300px;
}

h2{
    color: #9c27b0;
    text-align: center;
}

h4,button{
    color: #9c27b0;
    text-transform: capitalize;
}
md-list-item{
	border-bottom: 2px solid #9c27b0;
}

button {
    width: 47%;
    margin: 1%;
    margin-top: 20px;
}

#confirm{
	background-color: #6ad99a; 
}

#cancel{
	background-color: #dd193b;
}