<div class="content" #container style="text-align: center;">
	<div class="image" *ngIf="pass===1">
		<img src="./assets/logo.png" alt="">
	</div>
	<h2 *ngIf="pass===1" class="title" style="margin: 0">Cita Confirmada</h2>
	<h2 *ngIf="pass===2" class="title" style="margin: 0">Hola {{profile?.nickname}}</h2>
	<h2 *ngIf="pass===1">{{profile?.nickname}}</h2>
	<h2 *ngIf="pass===2">Recuerda que en <md-icon color="primary">access_time</md-icon> 30 minutos inicia tu cita </h2>
	<div style="text-align: left;">
		
		<md-list>
			<md-list-item>
				<md-icon md-list-icon color="primary">favorite_border</md-icon>
				<h4 md-line color="primary">{{user?.nickname}}</h4>
			</md-list-item>
			<md-list-item>
				<md-icon md-list-icon color="primary">date_range</md-icon>
				<h4 md-line color="primary">{{ date?.date | amParse:'YYYY-MM-DD' | amDateFormat:'DD/MM/YYYY' }}</h4>
			</md-list-item>
			<md-list-item>
				<md-icon md-list-icon color="primary">access_time</md-icon>
				<h4 md-line color="primary">{{ date?.time | amParse:'HH:mm' | amDateFormat:'hh:mm a' }}</h4>
			</md-list-item>
			<md-list-item>
				<md-icon md-list-icon color="primary">place</md-icon>
				<h4 md-line color="primary">{{ date?.location }}</h4>
			</md-list-item>
			<md-list-item>
				<md-icon md-list-icon color="primary">monetization_on</md-icon>
				<h4 md-line color="primary">{{ date?.price | currency:undefined:true:'1.0-2' }}</h4>
			</md-list-item>
			<md-list-item>
				<md-icon md-list-icon color="primary">phone_iphone</md-icon>
				<h4 md-line color="primary">{{ user?.phone }}</h4>
			</md-list-item>
		</md-list>
		<div *ngIf="pass===1">
			<button md-raised-button color="primary" routerLink="/"> Entendido </button>
			<button md-raised-button color="primary"> Consejo </button>
		</div>
		<div *ngIf="pass===2">
			<button md-raised-button color="primary" id="confirm" routerLink="/">
				<md-icon>check </md-icon>
			 	Confirmar 
			 </button>
			<button md-raised-button color="primary" id="cancel"> 
				<md-icon>close </md-icon>
				Cancelar 
			</button>
		</div>
	</div>

</div>