<div class="content" style="text-align: center;">
	<h2 class="title" style="margin: 0">Elegir foto de perfil</h2>
	<div class="profile-picture">
		<img [src]="prewiewAvatar" (click)="file.click()" alt="" *ngIf="!loading" width="160" height="160">
		<md-spinner *ngIf="loading"></md-spinner>
	</div>

	<button md-button [promiseBtn]="promiseLoading" type="button" class="btn-custom full-width" style="margin-bottom: 10px;" (click)="file.click()">
		<!-- <md-icon mdSuffix color="primary">insert_photo</md-icon> -->
		<img mdSuffix src="./assets/camera.png">
		Subir una foto
	</button>

	<!-- <a md-button routerLink="/" type="button" class="btn-custom full-width" style="margin-bottom: 10px;">
		<md-icon mdSuffix color="primary">home</md-icon>
		Ir al Inicio
	</a> -->

	<input #file style="display:none" type="file" accept="image/*" (change)="fileChangeListener($event)">
	<div class="cropper" *ngIf="display">
		<img-cropper [image]="data" #cropper [settings]="cropperSettings"></img-cropper><br>
		<button md-button type="button" (click)="close()">Cancelar</button>
		<button md-button type="button" (click)="save()">Ok</button>
	</div>
</div>
