$size: 160px;
.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px; 
	img{
		max-width: 100%;
	}
    .mat-spinner{
        margin: 0 auto;
    }
}

.cropper{
    position: fixed;
    top: 5%;
    left: 5%;
    background: rgba(0, 0, 0, 0.79);
    width: 90%;
    height: 90%;
    button{
        color: #fff;
        font-weight: bold;
        font-size: 12pt;
    }
}