<div>
	<h2 class="title">Mis citas</h2>
	<div class="content">
		<md-select [(ngModel)]="type" (change)="changeType()" style="    width: 300px;">
			<md-option value="creadas" selected>
				Mis citas creadas
			</md-option>
			<md-option value="aceptadas">
				Mis citas aceptadas
			</md-option>
			<md-option value="confirmadas">
				Mis citas confirmadas
			</md-option>
		</md-select>

		<md-spinner class="loading" *ngIf="loading" style="margin: 0 auto;
    position: relative;"></md-spinner>

		<div *ngIf="!loading">
			<md-card class="card" *ngFor="let date of dateCreated" style="margin-bottom: 20px;">
				<div class="profile-picture" *ngIf="type === 'aceptadas'">
					<img [src]="getAvatar(date)" alt="" width="160" height="160">
				</div>
				<md-card-content>
					<div *ngIf="type === 'aceptadas'">
						<h2>{{ date.nickname }}</h2>
						<star-rating-comp [starType]="'icon'" [disabled]="true" [rating]="2.63"></star-rating-comp>
					</div>
				    <md-list>
						<md-list-item *ngIf="type === 'confirmadas'">
							<md-icon md-list-icon color="primary">person</md-icon>
		    				<h4 md-line color="primary">
		    					
		    					{{ (date?.user === profile?.id)? 
		    						date?.with_user?.nickname:
		    						date?.user_info?.nickname
		    					}}
		    					
		    				</h4>
						</md-list-item>
						<md-list-item>
							<md-icon md-list-icon color="primary">date_range</md-icon>
		    				<h4 md-line color="primary">{{ date.date | amParse:'YYYY/MM/DD' | amDateFormat:'DD/MM/YYYY' }}</h4>
						</md-list-item>
						<md-list-item>
							<md-icon md-list-icon color="primary">access_time</md-icon>
		    				<h4 md-line color="primary">{{ date.time | amParse:'HH:mm' | amDateFormat:'hh:mm a' }}</h4>
						</md-list-item>
						<md-list-item>
							<md-icon md-list-icon color="primary">library_books</md-icon>
		    				<h4 md-line color="primary">{{ date.type }}</h4>
						</md-list-item>
						<md-list-item>
							<md-icon md-list-icon color="primary">timer</md-icon>
		    				<h4 md-line color="primary">{{ date.duration }} Hora(s)</h4>
						</md-list-item>
						<md-list-item>
							<md-icon md-list-icon color="primary">monetization_on</md-icon>
		    				<h4 md-line color="primary">{{ date.price | currency:undefined:true:'1.0-2' }}</h4>
						</md-list-item>
				    </md-list>
			  	</md-card-content>
				<md-card-actions>
					<button md-button class="favorite" (click)="view(date)" *ngIf="type === 'creadas'" title="Favoritos" [disabled]="date?.user_favorites?.length == 0">
						<md-icon mdPrefix color="primary" >
							favorite
						</md-icon>
						{{ date?.user_favorites?.length }}
					</button>
					<button md-button class="favorite" (click)="chat(date)" *ngIf="type === 'aceptadas'" title="Chat" >
						<md-icon mdPrefix color="primary" >
							chat_bubble
						</md-icon>
					</button>
					<button md-button class="favorite" (click)="confim(date)" *ngIf="type === 'confirmadas'" title="confirmacion" >
						<md-icon mdPrefix color="primary" >
							check
						</md-icon>
					</button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>