$size: 160px;
.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
	img{
		max-width: 100%;
	}
    .mat-spinner{
        margin: 0 auto;
    }
}

h2{
    color: #9c27b0;
    text-align: center;
}

h4,button{
    color: #9c27b0;
    text-transform: capitalize;

}

.card{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #888888;
}

