<div class="login">
	<div class="content">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			
			<md-input-container class="full-width">
				<md-icon mdPrefix color="primary">mail_outline</md-icon>
				<input type="text" mdInput placeholder="Ingrese su Email" [formControl]="email">
				<md-error *ngIf="email.hasError('pattern')">
				    Inserte una dirección valida
			    </md-error>
			    <md-error *ngIf="email.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>

		
			<button type="submit" md-raised-button color="primary" [promiseBtn]="promiseLoading"><md-spinner class="loading"></md-spinner>Recordar contraseña</button>
			<br/>
			<a md-button routerLink="/login">Login</a>
		</form>
	</div>
</div>
