.login{
    margin-top: 200px;
    padding: 15px 40px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
.login button{
	width: 100%;
}
.login img{
	max-width: 100%;
	margin-bottom: 30px;
}
