h2{
    color: #9c27b0;
    text-align: center;
}

$size: 120px;
.content{
    padding-top: 0;
}

.profile-picture{
	border-radius: 50%;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    float: left;
	img{
		max-width: 100%;
	}
}
.rate{
	.rating{
		display: inline-block;
        width: calc(100% - 120px);
	}
}