<div class="content" #container style="text-align: center;">
	<h2 class="title">Cita Finalizada</h2>
	<h2>Hola {{profile?.nickname}}</h2>
	<br>
	<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
		<md-input-container class="full-width textarea">
			<md-icon mdPrefix color="primary">edit</md-icon>
	      	<textarea [formControl]="text" mdInput placeholder="Cuentanos como te fue en tu cita"></textarea>
	    </md-input-container>
		<div class="rate">
			<div class="profile-picture">
				<img [src]="getAvatar(user)" alt="" width="120" height="120">
			</div>
			<div class="rating">
				<h2>{{user?.nickname}}</h2>
				<app-star-rating [stars]="stars" (event)="changeStar($event)"  [disabled]="disabled"></app-star-rating>
			</div>
		</div>
		<div>
			<button type="submit" md-raised-button color="primary" [promiseBtn]="promiseLoading" [disabled]="disabled">Guardar</button>
		</div>
	</form>
</div>