.login{
    margin-top: 18%;
    padding: 15px 40px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
.login button{
	width: 100%;
}
.login img{
	max-width: 260px;
	margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .login img{
        max-width: 100%;
    }
    .login{
    	position: absolute;
    	bottom: 0;
    }
}