<div class="login">
	<div class="image">
		<img src="./assets/logo.png" alt="">
		
	</div>
	<div class="content">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

			<md-input-container class="full-width">
				<md-icon mdPrefix color="primary">person_outline</md-icon>
				<input type="text" mdInput placeholder="Correo" [formControl]="email">
				<md-error *ngIf="email.hasError('pattern')">
				    Inserte una dirección valida
			    </md-error>
			    <md-error *ngIf="email.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>

			<md-input-container class="full-width">
				<md-icon mdPrefix color="primary">lock_outline</md-icon>
				<input type="password" mdInput placeholder="Contraseña" [formControl]="password">
				<md-error *ngIf="email.hasError('required')">
			      	Campo <strong>requerido</strong>
			    </md-error>
			</md-input-container>
		
			<button type="submit" md-raised-button color="primary" [promiseBtn]="promiseLoading"><md-spinner class="loading"></md-spinner>Acceder</button>
			<button style="margin-top: 10px;" type="button" (click)="loginWithFacebook()" md-raised-button>Login con Facebook</button>
			<a md-button routerLink="/recover_password">Recordar contraseña</a>
			<a md-button routerLink="/register">Crear una cuenta</a>
		</form>
	</div>
</div>
