.mat-toolbar{
    z-index: 999;
    left: 0;
    width: 100%;
}

a{
	color: #fff;
}

.sidenav-container {
  width: 100%;
  height: 100vh;
  background: #fef5fa;
}

.sidenav-item {
  	padding: 20px;
	background: #9c27b0;
	min-width: 230px;
	color: #fff;
	text-align: center;
	h2{
		color: #fff;
	}
}
.sidenav-item>a{
	position: absolute;
    left: 20px;
}
$size: 130px;
.profile-picture{
	border-radius: 50%;
    background: #fff;
    width: $size;
    height: $size;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
	img{
		max-width: 100%;
	}
}

.menu{
    text-align: left;
    padding: 15px;
	.menu-item {
	    font-size: 12pt;
	    padding: 10px 5px;
	    border-bottom: 2px solid #fff;
	    font-weight: bold;
	}
}

@media screen and (max-width: 550px) {
    .sidenav-item {
		width: 85vw;
    }
}