<md-sidenav-container class="sidenav-container">
  	<md-sidenav #sidenav class="sidenav-item" mode="{{mode}}">

	<a (click)="sidenav.close()">
		<md-icon>keyboard_arrow_left</md-icon>
	</a>
    <h2>{{name}}</h2>
    <div class="profile-picture" >
    	<a routerLink="/avatar" (click)="sidenav.close()">
			<img [src]="avatar" alt="">
    	</a>
	</div>
	<div class="menu">
		<div class="menu-item">
			<a routerLink="/" (click)="sidenav.close()">
				<md-icon>favorite</md-icon>
				<span>Citas</span>
			</a>
		</div>
		<div class="menu-item">
			<a routerLink="/chat" (click)="sidenav.close()">
				<md-icon>chat_bubble</md-icon>
				<span>Chats</span>
			</a>
		</div>
		<div class="menu-item">
			<md-icon>monetization_on</md-icon>
			<span>Pagos</span>
		</div>
		<div class="menu-item">
			<a routerLink="/config" (click)="sidenav.close()">
				<md-icon>settings</md-icon>
				<span>Configuración</span>
			</a>
		</div>
		<div class="menu-item">
			<a routerLink="/perfile" (click)="sidenav.close()">
				<md-icon>person</md-icon>
				<span>Perfil</span>
			</a>
		</div>
		<div class="menu-item">
			<md-icon>help</md-icon>
			<span>Soporte</span>
		</div>
		<div class="menu-item">
			<a href="#" (click)="logout()">
				<md-icon>exit_to_app</md-icon>
				<span>Salir</span>
			</a>
		</div>
	</div>

  	</md-sidenav>
  	<md-toolbar color="primary">
	    <a (click)="sidenav.toggle()">
	      <md-icon>menu</md-icon>
	    </a>
  	</md-toolbar>
  	<router-outlet> </router-outlet>
</md-sidenav-container>