	@charset "UTF-8";
	           .center-all[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -moz-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -moz-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 
}
	  .star[_ngcontent-c16] 
{
	 position: relative;
	 width: 20px;
	 height: 20px;
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -moz-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -moz-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	       
}
	 .star[_ngcontent-c16]   svg[_ngcontent-c16], .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -moz-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -moz-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 font-style: normal;
	 
}
	 .star[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .star[_ngcontent-c16]   svg.star-filled[_ngcontent-c16], .star[_ngcontent-c16]   i.star-half[_ngcontent-c16], .star[_ngcontent-c16]   i.star-filled[_ngcontent-c16] 
{
	 opacity: 0;
	 
}
	 .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 top: 1px;
	 display: none;
	 
}
	 .star.icon[_ngcontent-c16]   i[_ngcontent-c16], .rating.star-icon[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 font-size: 25px;
	 line-height: 25px;
	 
}
	 .star.icon[_ngcontent-c16]   i.star-empty[_ngcontent-c16]:before, .rating.star-icon[_ngcontent-c16]   i.star-empty[_ngcontent-c16]:before 
{
	 content: "☆";
	 
}
	 .star.icon[_ngcontent-c16]   i.star-half[_ngcontent-c16]:before, .rating.star-icon[_ngcontent-c16]   i.star-half[_ngcontent-c16]:before 
{
	 content: "★";
	 
}
	 .star.icon[_ngcontent-c16]   i.star-filled[_ngcontent-c16]:before, .rating.star-icon[_ngcontent-c16]   i.star-filled[_ngcontent-c16]:before 
{
	 content: "★";
	 
}
	 .star.custom-icon[_ngcontent-c16]   i[_ngcontent-c16], .rating.star-custom-icon[_ngcontent-c16]   i[_ngcontent-c16], .rating.theme-kununu[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 font-size: 18px;
	 line-height: 18px;
	 
}
	 .star.empty[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .star.empty[_ngcontent-c16]   svg.star-filled[_ngcontent-c16], .star.empty[_ngcontent-c16]   i.star-half[_ngcontent-c16], .star.empty[_ngcontent-c16]   i.star-filled[_ngcontent-c16] 
{
	 opacity: 0;
	 
}
	 .star.empty[_ngcontent-c16]   svg.star-empty[_ngcontent-c16], .star.empty[_ngcontent-c16]   i.star-empty[_ngcontent-c16] 
{
	 opacity: 1;
	 
}
	 .star.half[_ngcontent-c16]   svg.star-filled[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(1)   svg.star-filled[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(2)   svg.star-filled[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(3)   svg.star-filled[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(4)   svg.star-filled[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(5)   svg.star-filled[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(6)   svg.star-filled[_ngcontent-c16], .star.half[_ngcontent-c16]   svg.star-empty[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(1)   svg.star-empty[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(2)   svg.star-empty[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(3)   svg.star-empty[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(4)   svg.star-empty[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(5)   svg.star-empty[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(6)   svg.star-empty[_ngcontent-c16], .star.half[_ngcontent-c16]   i.star-filled[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(1)   i.star-filled[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(2)   i.star-filled[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(3)   i.star-filled[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(4)   i.star-filled[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(5)   i.star-filled[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(6)   i.star-filled[_ngcontent-c16], .star.half[_ngcontent-c16]   i.star-empty[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(1)   i.star-empty[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(2)   i.star-empty[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(3)   i.star-empty[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(4)   i.star-empty[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(5)   i.star-empty[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(6)   i.star-empty[_ngcontent-c16] 
{
	 opacity: 0;
	 
}
	 .star.half[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(1)   svg.star-half[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(2)   svg.star-half[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(3)   svg.star-half[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(4)   svg.star-half[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(5)   svg.star-half[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(6)   svg.star-half[_ngcontent-c16], .star.half[_ngcontent-c16]   i.star-half[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(1)   i.star-half[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(2)   i.star-half[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(3)   i.star-half[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(4)   i.star-half[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(5)   i.star-half[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(6)   i.star-half[_ngcontent-c16] 
{
	 opacity: 1;
	 
}
	 .star.filled[_ngcontent-c16]   svg.star-empty[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+1)   svg.star-empty[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+2)   svg.star-empty[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+3)   svg.star-empty[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+4)   svg.star-empty[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+5)   svg.star-empty[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+6)   svg.star-empty[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+7)   svg.star-empty[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+8)   svg.star-empty[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+9)   svg.star-empty[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+10)   svg.star-empty[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+11)   svg.star-empty[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+12)   svg.star-empty[_ngcontent-c16], .star.filled[_ngcontent-c16]   svg.star-filled[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+1)   svg.star-filled[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+2)   svg.star-filled[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+3)   svg.star-filled[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+4)   svg.star-filled[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+5)   svg.star-filled[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+6)   svg.star-filled[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+7)   svg.star-filled[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+8)   svg.star-filled[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+9)   svg.star-filled[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+10)   svg.star-filled[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+11)   svg.star-filled[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+12)   svg.star-filled[_ngcontent-c16], .star.filled[_ngcontent-c16]   i.star-empty[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+1)   i.star-empty[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+2)   i.star-empty[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+3)   i.star-empty[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+4)   i.star-empty[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+5)   i.star-empty[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+6)   i.star-empty[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+7)   i.star-empty[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+8)   i.star-empty[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+9)   i.star-empty[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+10)   i.star-empty[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+11)   i.star-empty[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+12)   i.star-empty[_ngcontent-c16], .star.filled[_ngcontent-c16]   i.star-filled[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+1)   i.star-filled[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+2)   i.star-filled[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+3)   i.star-filled[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+4)   i.star-filled[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+5)   i.star-filled[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+6)   i.star-filled[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+7)   i.star-filled[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+8)   i.star-filled[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+9)   i.star-filled[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+10)   i.star-filled[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+11)   i.star-filled[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+12)   i.star-filled[_ngcontent-c16] 
{
	 opacity: 0;
	 
}
	 .star.filled[_ngcontent-c16]   svg.star-filled[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+1)   svg.star-filled[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+2)   svg.star-filled[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+3)   svg.star-filled[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+4)   svg.star-filled[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+5)   svg.star-filled[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+6)   svg.star-filled[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+7)   svg.star-filled[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+8)   svg.star-filled[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+9)   svg.star-filled[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+10)   svg.star-filled[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+11)   svg.star-filled[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+12)   svg.star-filled[_ngcontent-c16], .star.filled[_ngcontent-c16]   i.star-filled[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+1)   i.star-filled[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+2)   i.star-filled[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+3)   i.star-filled[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+4)   i.star-filled[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+5)   i.star-filled[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+6)   i.star-filled[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+7)   i.star-filled[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+8)   i.star-filled[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+9)   i.star-filled[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+10)   i.star-filled[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+11)   i.star-filled[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]:nth-child(-n+12)   i.star-filled[_ngcontent-c16] 
{
	 opacity: 1;
	 
}
	 .star.default[_ngcontent-c16]   svg[_ngcontent-c16], .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #999;
	 
}
	 .star.default[_ngcontent-c16]   i[_ngcontent-c16], .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #999;
	 
}
	 .star.negative[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(2)   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(3)   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(4)   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(5)   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(6)   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #f03c56;
	 
}
	 .star.negative[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-1[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-2[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-0.half[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-1.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(2)   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-2.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(3)   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-3.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(4)   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-4.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(5)   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-5.half[_ngcontent-c16]   .star-container[_ngcontent-c16]   .rating.value-0.star[_ngcontent-c16]:nth-child(6)   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #f03c56;
	 
}
	 .star.middle[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #ffc058;
	 
}
	 .star.middle[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-3[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #ffc058;
	 
}
	 .star.positive[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #7ed321;
	 
}
	 .star.positive[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-4[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-5[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-6[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-7[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-8[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-9[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-10[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-11[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .rating.value-12[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #7ed321;
	 
}
	 .star.svg[_ngcontent-c16]   i[_ngcontent-c16], .rating.star-svg[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 display: none;
	 
}
	 .star.svg[_ngcontent-c16]   svg[_ngcontent-c16], .rating.star-svg[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 
}
	 .star.custom-icon[_ngcontent-c16]   svg[_ngcontent-c16], .rating.star-custom-icon[_ngcontent-c16]   svg[_ngcontent-c16], .rating.theme-kununu[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .star.icon[_ngcontent-c16]   svg[_ngcontent-c16], .rating.star-icon[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 display: none;
	 
}
	 .star.custom-icon[_ngcontent-c16]   i[_ngcontent-c16], .rating.star-custom-icon[_ngcontent-c16]   i[_ngcontent-c16], .rating.theme-kununu[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16], .star.icon[_ngcontent-c16]   i[_ngcontent-c16], .rating.star-icon[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 
}
	 .star.small[_ngcontent-c16], .rating.small[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 width: 10px;
	 height: 9, 5px;
	 
}
	 .star.small[_ngcontent-c16]   i[_ngcontent-c16], .rating.small[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 font-size: 11px;
	 line-height: 10px;
	 
}
	 .star.medium[_ngcontent-c16], .rating.medium[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 width: 20px;
	 height: 20px;
	 
}
	 .star.medium[_ngcontent-c16]   i[_ngcontent-c16], .rating.medium[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 font-size: 25px;
	 line-height: 25px;
	 
}
	 .star.large[_ngcontent-c16], .rating.large[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 width: 35px;
	 height: 33.3px;
	 
}
	 .star.large[_ngcontent-c16]   i[_ngcontent-c16], .rating.large[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 font-size: 36px;
	 line-height: 35px;
	 
}
	 .star.disabled[_ngcontent-c16], .rating.disabled[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 opacity: 0.5;
	 
}
	 .star.direction-rtl[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .star-container.direction-rtl[_ngcontent-c16]   .star[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .rating.direction-rtl[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .star.direction-rtl[_ngcontent-c16]   i.star-half[_ngcontent-c16], .star-container.direction-rtl[_ngcontent-c16]   .star[_ngcontent-c16]   i.star-half[_ngcontent-c16], .rating.direction-rtl[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i.star-half[_ngcontent-c16] 
{
	 -webkit-transform: scale(-1, 1);
	 -moz-transform: scale(-1, 1);
	 -ms-transform: scale(-1, 1);
	 transform: scale(-1, 1);
	 
}
	 .star.direction-ltr[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .star-container.direction-ltr[_ngcontent-c16]   .star[_ngcontent-c16]   svg.star-half[_ngcontent-c16], .star.direction-ltr[_ngcontent-c16]   i.star-half[_ngcontent-c16], .star-container.direction-ltr[_ngcontent-c16]   .star[_ngcontent-c16]   i.star-half[_ngcontent-c16] 
{
	 -webkit-transform: scale(1, 1);
	 -moz-transform: scale(1, 1);
	 -ms-transform: scale(1, 1);
	 transform: scale(1, 1);
	 
}
	  .label-value[_ngcontent-c16] 
{
	 font-size: 18px;
	 line-height: 18px;
	   
}
	 .label-value.small[_ngcontent-c16], .rating.small[_ngcontent-c16]   .label-value[_ngcontent-c16] 
{
	 font-size: 9.5px;
	 line-height: 9.5px;
	 
}
	 .label-value.medium[_ngcontent-c16], .rating.medium[_ngcontent-c16]   .label-value[_ngcontent-c16] 
{
	 font-size: 18px;
	 line-height: 25px;
	 
}
	 .label-value.large[_ngcontent-c16], .rating.large[_ngcontent-c16]   .label-value[_ngcontent-c16] 
{
	 font-size: 28px;
	 line-height: 35px;
	 
}
	 .label-value.disabled[_ngcontent-c16], .rating.disabled[_ngcontent-c16]   .label-value[_ngcontent-c16] 
{
	 opacity: 0.5;
	 
}
	  .star-container[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -moz-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -webkit-box-flex: 0;
	 -webkit-flex: 0 0 auto;
	 -moz-box-flex: 0;
	 -ms-flex: 0 0 auto;
	 flex: 0 0 auto;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -moz-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 margin-left: 5px;
	 margin-right: 5px;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	   
}
	 .star-container[_ngcontent-c16]    + .star[_ngcontent-c16] 
{
	 margin-left: 5px;
	 
}
	 .star-container[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
}
	 .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
}
	 .star-container[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 z-index: 2;
	 
}
	 .star-container[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 z-index: 1;
	 
}
	 .star-container.direction-rtl[_ngcontent-c16], .rating.direction-rtl[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 direction: rtl;
	 
}
	 .star-container.direction-ltr[_ngcontent-c16] 
{
	 direction: ltr;
	 
}
	 .star-container.space-no[_ngcontent-c16], .rating.space-no[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 -webkit-box-flex: 1;
	 -webkit-flex: 1 1 auto;
	 -moz-box-flex: 1;
	 -ms-flex: 1 1 auto;
	 flex: 1 1 auto;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -moz-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 
}
	 .star-container.space-between[_ngcontent-c16], .rating.space-between[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 -webkit-box-flex: 1;
	 -webkit-flex: 1 1 auto;
	 -moz-box-flex: 1;
	 -ms-flex: 1 1 auto;
	 flex: 1 1 auto;
	 -webkit-box-pack: justify;
	 -webkit-justify-content: space-between;
	 -moz-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 
}
	 .star-container.space-around[_ngcontent-c16], .rating.space-around[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 -webkit-box-flex: 1;
	 -webkit-flex: 1 1 auto;
	 -moz-box-flex: 1;
	 -ms-flex: 1 1 auto;
	 flex: 1 1 auto;
	 -webkit-justify-content: space-around;
	 -ms-flex-pack: distribute;
	 justify-content: space-around;
	 
}
	  .rating[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -moz-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -moz-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 margin-bottom: 5px;
	            
}
	 .rating.label-hidden[_ngcontent-c16]   .label-value[_ngcontent-c16] 
{
	 display: none;
	 
}
	 .rating.label-visible[_ngcontent-c16] 
{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: flex;
	 
}
	 .rating.label-top[_ngcontent-c16] 
{
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -webkit-flex-direction: column;
	 -moz-box-orient: vertical;
	 -moz-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
	 
}
	 .rating.label-top[_ngcontent-c16]   .label-value[_ngcontent-c16]    + .star-container[_ngcontent-c16] 
{
	 margin-left: 0;
	 margin-right: 0;
	 margin-top: 5px;
	 
}
	 .rating.label-left[_ngcontent-c16]   .label-value[_ngcontent-c16] 
{
	 -webkit-box-flex: 0;
	 -webkit-flex: 0 0 auto;
	 -moz-box-flex: 0;
	 -ms-flex: 0 0 auto;
	 flex: 0 0 auto;
	 
}
	 .rating.label-left[_ngcontent-c16]   .label-value[_ngcontent-c16]    + .star-container[_ngcontent-c16] 
{
	 margin-left: 5px;
	 margin-right: 0;
	 
}
	 .rating.label-right[_ngcontent-c16] 
{
	 -webkit-box-orient: horizontal;
	 -webkit-box-direction: reverse;
	 -webkit-flex-direction: row-reverse;
	 -moz-box-orient: horizontal;
	 -moz-box-direction: reverse;
	 -ms-flex-direction: row-reverse;
	 flex-direction: row-reverse;
	 
}
	 .rating.label-right[_ngcontent-c16]   .label-value[_ngcontent-c16]    + .star-container[_ngcontent-c16] 
{
	 margin-left: 0;
	 margin-right: 5px;
	 
}
	 .rating.label-bottom[_ngcontent-c16] 
{
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: reverse;
	 -webkit-flex-direction: column-reverse;
	 -moz-box-orient: vertical;
	 -moz-box-direction: reverse;
	 -ms-flex-direction: column-reverse;
	 flex-direction: column-reverse;
	 
}
	 .rating.label-bottom[_ngcontent-c16]   .label-value[_ngcontent-c16]    + .star-container[_ngcontent-c16] 
{
	 margin-left: 0;
	 margin-right: 0;
	 margin-bottom: 5px;
	 
}
	 .rating.direction-rtl[_ngcontent-c16] 
{
	 direction: rtl;
	 
}
	 .rating.direction-ltr[_ngcontent-c16] 
{
	 direction: ltr;
	 
}
	 .rating.color-default[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #999;
	 
}
	 .rating.color-default[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #999;
	 
}
	 .rating.color-ok[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #ffc058;
	 
}
	 .rating.color-ok[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #ffc058;
	 
}
	 .rating.color-positive[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #7ed321;
	 
}
	 .rating.color-positive[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #7ed321;
	 
}
	 .rating.color-negative[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16] 
{
	 fill: #f03c56;
	 
}
	 .rating.color-negative[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 color: #f03c56;
	 
}
	 .rating.immediately[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 -webkit-transition: all none;
	 -moz-transition: all none;
	 transition: all none;
	 
}
	 .rating.immediately[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 -webkit-transition: none;
	 -moz-transition: none;
	 transition: none;
	 
}
	 .rating.immediately[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.immediately[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 -webkit-transition: none;
	 -moz-transition: none;
	 transition: none;
	 
}
	 .rating.noticeable[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
}
	 .rating.noticeable[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
}
	 .rating.noticeable[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.noticeable[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
}
	 .rating.slow[_ngcontent-c16]   .star-container[_ngcontent-c16] 
{
	 -webkit-transition: all 0.8s ease;
	 -moz-transition: all 0.8s ease;
	 transition: all 0.8s ease;
	 
}
	 .rating.slow[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16] 
{
	 -webkit-transition: all 0.8s ease;
	 -moz-transition: all 0.8s ease;
	 transition: all 0.8s ease;
	 
}
	 .rating.slow[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   svg[_ngcontent-c16], .rating.slow[_ngcontent-c16]   .star-container[_ngcontent-c16]   .star[_ngcontent-c16]   i[_ngcontent-c16] 
{
	 -webkit-transition: all 0.8s ease;
	 -moz-transition: all 0.8s ease;
	 transition: all 0.8s ease;
	 
}

