/*
fondo: #fef5fa;
primario: #990099
segundario: #ad31ac
barra:     color: #ec30d0;
*/

/*@import "https://fonts.googleapis.com/icon?family=Material+Icons";*/

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(assets/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(assets/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(assets/material-icons/MaterialIcons-Regular.woff) format('woff'),
        url(assets/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


body{
	background: #fef5fa;
	margin: 0;
}

@font-face {
    font-family: nexa;
    src: url(assets/fonts/nexa/Nexa_Light.woff);
}

@font-face {
    font-family: blacksword;
    src: url(assets/fonts/blacksword/Blacksword.woff);
}

span, p, a, li, button, h1, h2, h3, h4, h5, h6, .mat-chip, label,input, input.mat-input-element, md-error, div, textarea{
	font-family: nexa;
}

.mat-input-element{
  line-height: 1.2;
}

.title {
    font-family: blacksword;
    font-size: 35px;
    color: #9c27b0;
    font-weight: 100;
    text-align: center;
}

.full-width {
  	width: 100%;
}

label.mat-input-placeholder, .mat-select-placeholder, .md2-datepicker-placeholder{
	color: #9c27b0;
}
.md2-datepicker-placeholder{
      margin-left: -6px;
}
.mat-select-placeholder{
  
    left: 25px;
}
.mat-button.btn-custom{
	border: 1px solid #9c27b0;
    color: #9c27b0;
}

.content{
	padding: 10px 20px;
	max-width: 350px;
    margin: 0 auto;
}

.check-span{
	float: right;
    margin-top: 15px;
    color: #9c27b0;
    font-size: 14pt;
}

.mat-spinner.loading{
	width: 30px;
	height: 30px;
	margin: 0;
	position: absolute;
}

@media screen and (max-width: 700px) {
  button[type="submit"]{
    width: 100%;
  }
  .md2-datepicker-content, .mat-datepicker-content{
    position: fixed;
    color: #000;
    top: 80px !important;
    left: calc(50% - 148px) !important;
  }
}

button{
  max-width: 250px;
}

.mat-select{
    max-width: 200px;
    text-align: left;
    margin: 1.2em 0;
}

.md2-calendar-header{
  background-color: #9c27b0 !important ;
}

.md2-clock-cell.md2-clock-cell-selected[_ngcontent-c12]{
  background-color: #9c27b0 !important; 
}
md2-datepicker{
  max-width: 100px;
}
.md2-datepicker-trigger{
  padding: 0 !important;
}
.md2-datepicker-button{
  display: none !important;
}
.md2-datepicker-input{
  text-align: left;
  color: #9c27b0 !important ;
  border-bottom: initial !important;
}
.md2-datepicker-value{
    font: inherit;
}
.md2-datepicker-arrow{
  display: none !important;
}

app-interest-select .mat-select-value-text{
  color: #fef5fa;
}

.md2-panel{
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: inline-block;
  position: relative;
  text-align: left;
  min-width: 213px;
}

.md2-option.md2-selected{
  color: #9c27b0 !important;
}

.md2-select {
    display: inline-block;
    outline: 0;
    min-width: 210px;
    color: #9c27b0;
    text-align: left;
}

.md2-select-placeholder{
    color: #9c27b0;

}

.md2-select-value{
    color: #9c27b0;
}

.md2-select-header {
  position: relative;
  display: block;
  height: 48px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(black, 0.12);

}
.md2-select-header input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.md2-select:focus:not(.md2-select-disabled) .md2-select-trigger {
    color: #9c27b0 !important;
}

.md2-select:focus:not(.md2-select-disabled) .md2-select-underline {
    background-color: #9c27b0 !important;
}

.mat-select-content .mat-input-container {
    padding: 0 10px;
}

.star-container .star i{
    color: #9c27b0 !important;
}
.rating{
    outline: none;
}

.star.disabled, .rating.disabled .star-container .star{
    opacity: 1 !important;
}


.card.mat-card {
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}

md-input-container.chat .mat-input-underline{
    display: none;
}
md-input-container.chat>.mat-input-wrapper{
  padding-bottom: 0; 
}
.mat-slider-horizontal {
    min-width: 120px;
}

.mat-card-actions {
    margin-left: -8px !important;
    margin-right: -8px !important;
}